#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#content {
	padding: 5px;
}

.pagination {
	text-align: center;
}

.login-form {
	padding: 5px 20px;
	max-width: 500px;
	margin: 100px auto;
	border-radius: 10px;
	border: 1px solid #c0c0c0;
}
.breadcrumb {
    top:20px;!important;
    position: relative;!important;
}
.subnav{
    top:80px !important;
}
.navbar .nav li.dropdown.open .dropdown-menu{
    top:50%;!important;
}
.navbar .nav ul{
    left:20px;!important;
    width:auto;!important;
}